body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1B;
}

.list_wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  background-color: #2B2B2B;
  padding: 50px 50px 25px 50px;
}

.card {
  padding: 30px;
  margin-bottom: 25px;
  background-color: #4B4B4B;
  font-size: 24px;
  color: #BBBBBB;
}